@font-face{
    font-family: Tangerine-Regular;
    src: url("../fonts/Tangerine-Regular.ttf")
}

h1 {
    font-family: Tangerine-Regular;
    font-size: 60pt;
}

.text{
    font-family: Tangerine-Regular;
    font-size: 40pt;
}

.row-label,.col-label{
    font-family: Tangerine-Regular;
    font-size: 20pt;
    stroke-width: 5pt;
}